<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif; width: 100%; margin: 0; padding: 0;">

<h2 style="color: blue;">OTP Verification</h2>

<p>Hello <strong>${firstName}</strong></p>

<p>Your One-Time Password is:</p>

<!-- Centered OTP using table -->
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <table style=" padding: 20px;">
                <tr>
                    <td align="center">
                        <h1 style="margin: 0; font-weight: bold;;">${otp}</h1>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>This OTP expires in 5 minutes.</p>
<p style="margin:5px 0;">© ${year} All rights reserved.</p>

</body>
</html>
